.content{
  margin-top: $content-offset-vert;
  &__header{
    
    &-block{
      
      h1{
        color: $content-header-color;
        font-family: $default-font-family-bold;
        font-size: $medium-font-size;
      }
    }
    
    &-subblock{
      margin-top: $content-subheader-offset-vert;
      h3{
        font-size: $alt-font-size;
        color: $content-subheader-color;
      }
    }
    &--title{
      margin-left: 36px;
    }
    
    &--date{
      
    }
  }
}