// colors
$white: #ffffff;
$off-white: #f7f7f7;
$bluish-white: #f7f7fb;
$pale-red: #ff374f;

// body
$bg-color: $bluish-white;
//header
$header-hight: 150px;
$header-search-hight: 65px;

$search-bg: $off-white;
$search-icon-offset-horz: 20px;
$arrow-down-offset-horz: 15px;

$profile-radius: 65px;
$notification-radius: 47px;
$notification-color: $pale-red;

