// colors
$white: #ffffff;
$off-white: #f7f7f7;
$bluish-white: #f7f7fb;
$bluish-grey: #a39dae;
$m-bluish-grey: #7b859d;
$dark-bluish-grey: #5a647b;
$grey: #63656b;
$alt-grey: #9ea0a6;
$off-blue: #d1cfe5;
$pale-red: #ff374f;
$dark-blue: #0c0e19;
$bright-blue: #796eff;

// body
$bg-color: $bluish-white;
//header
$header-hight: 90px;
$header-search-hight: 39px;
$header-collapse-offset-vert: 25px;
// header search bar
$search-icon-size: 17.5px;
$search-bg: $off-white;
$search-padding: 39px;
$search-border-color: $off-blue;
$search-text-color: $bluish-grey;
$search-icon-offset-horz: 12px;
$arrow-icon-size: 12.6px;
$arrow-down-offset-horz: 9.6px;
// header nav
$nav-text-color: $dark-blue;
//header profile
$notification-radius: 18px;
$notification-icon-width: 24px;
$profile-radius: 39px;
// content
$content-offset-vert: 42px;
$content-header-color: $dark-blue;
$content-subheader-color: $grey;
$content-subheader-offset-vert: 25px;
$btn-height: 36px;
$btn-color: $dark-bluish-grey;
$btn-img-size: 18px;
$active-panel-tab-color: $bright-blue;
$panel-color: $m-bluish-grey;
$panel-footer-height: 52px;
$panel-footer-bg: $bluish-white;
$panel-footer-color: $grey;
$card-head-color: $dark-bluish-grey;
$card-tag-color: $dark-blue;

$footer-height: 565px;
$footer-alt-height: 140px;
$footer-bg: $dark-blue;
$footer-color: $alt-grey;
